@model MvcOnlineTicariOtomasyonWeb.Models.Siniflar.Kategori
@{
    ViewBag.Title = "KategoriEkle";
    Layout = "~/Views/Shared/AdminLayout.cshtml";
}

<br />
<h2>Yeni Kategori Sayfası</h2>
<br />
<form class="form-group" method="post">
    @Html.LabelFor(x => x.KategoriAd)
    @Html.TextBoxFor(x=>x.KategoriAd, new { @class = "form-control" }) 
    <button class="btn btn-info">Kaydet</button>
    @* veri tabanına eklenecek kategori adını textbox içerine yazıyoruz kaydete basınca kategorilere yonlenıyoruz ve verı tabanına kaydetme işlemi gerçekleşiyor kategoricontroller sayesınde  *@
</form>
